!!! Strict
%html{:xmlns=>"http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content=>"text/html; charset=utf-8", "http-equiv"=>"Content-Type"}/
    %title=h "Join Our Mailing List"
    %link{:href=>"/stylesheets/sass/teaser/white_background.sass", :rel=>"stylesheet", :type=>"text/css", :media=>"all"}/
  %body
    = render :partial => "body"